/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container{
    margin: 0 auto;
    width: 70%;
}

.flex{
    display: flex;
}

.pd20{
    padding: 20px;
}

ul{
    list-style: none;
}

a{
    all: unset;
    cursor: pointer;
}

/* HEADER */

/* header-top */
.header-top{
    background-color: #ADD8E6;
    
}

.header-nav{
    background-color: #DAA520;
    margin-bottom: 10px;
    align-items: center;
    
    /* debug */
}

.logo, .login{
    width: 25%;
    /* debug */
    border: 1px dashed black;
}

.login{
    text-align: right;
}

.menu{
    width: 50%;
    /* debug */
    border: 1px dashed black;
}

.logo, .login, .menu{
    padding: 10px;
}

.menu-list{
    justify-content: center;
    gap: 10px;

}

/* header-bottom */

.header-bottom{
    background-color: #00008B;
}

.box-header{
    background-color: #EE82EE;
    width: 90%;
    height: 300px;
    margin: 0 auto;
}


